body {
    font-family: 'Time New Roman', Times, serif;
    font-size: 20px;
  }
  
  /* Style the header */
  header {
    background-color: #11c2e4;
    padding: 20px;
    text-align: center;
  }
  
  /* Style the navigation */
  nav {
    background-color: #09ef6b;
    display: inline-block;
    width: 80%;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav li {
    display: inline;
    width: 50px;
  }
  
  nav a {
    color: #000000;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
  }
  
  nav a:hover {
    background-color: #ffffff;
  }
  
  /* Style the image */
  img {
    width: 10%
  }
  
  /* Style the main */
  main {
    background-color: #09ef6b;
    font-size: 20px;
    padding: 20px;
  }
  
  /* Style the footer */
  footer {
    background-color: #fff000;
    padding: 15px;
    text-align: center;
  }
  
  /* Style the list */
  li {
    display: inline;
    width: 50px;
  }
  
  .current {
    text-transform: uppercase;
  }
  
  /* Style the heading */
  h1 {
    text-align: center;
    font-family: 'Georgia', Times, serif;
    color: #000000;
  }
  
  /* Style paragraphs */
  p {
    line-height: 1.4;
  }
  
  /* Style the grid */
  .grid {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-gap: 30px;
  }
  
  .grid img {
    width: 100%;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(150px, 1fr);
    justify-content: center;
    align-items: center;
    row-gap: 25px;
  }
  
  /* Style the flex */
  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }